<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets"
    xmlns:tizen="http://tizen.org/ns/widgets"
    id="http://yourdomain/CronometroGB"
    version="1.0.0"
    viewmodes="maximized">

    <tizen:application
        id="1234567890.CronometroGB"
        package="1234567890"
        required_version="2.3" />

    <content src="index.html"/>

    <icon src="images/logoGB.png"/>

    <name>Cronometro GB</name>

    <feature name="http://tizen.org/feature/screen.size.all"/>

    <tizen:profile name="tv-samsung"/>

    <tizen:setting screen-orientation="landscape"/>

</widget>